<%= simple_form_for(@fundraising_goal) do |f| %>
  <% if @fundraising_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fundraising_goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% @fundraising_goal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
      	<%= f.label :title, "Title" %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter Title", label: false %>
      </div>
      <div class="form-group" id='ProjectListButton'>
        <%= f.label :goal_amount, "Goal Amount", step: 'any' %>
        <%= f.number_field :goal_amount, class: 'form-control pricing', placeholder: "Enter Goal Amount", label: false, step: 'any' %>
      </div>
      <div class="form-group" id='ProjectListButton'>
        <%= f.label :tag_list, "Tags (Seperate By Comma)" %>
        <%= f.text_field :tag_list, class: 'form-control pricing', placeholder: "Blue, Box, Paint", label: "Tags (Seperated By Commas)" %>
      </div>
      <div class="form-group">
      	<%= f.label :description, "Description" %>
        <%= f.text_area :description, class: 'form-control', placeholder: "Enter Title", label: false, size: '50x5' %>
        <%= f.hidden_field :uuid, value: (@fundraising_goal.uuid || SecureRandom.uuid) %>
      </div>
	  </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
