<% @fundraising_goals.each do |frg| %>
<%= image_tag(frg.goal_image.url(:p400x400)) %>
	<div class='row'>  
    <%= link_to "Donate Now", "##{frg.uuid}", class: 'btn btn-info', 'data-toggle' => 'modal' %>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModal" id="<%= frg.uuid %>">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h1> Review Donation Of <strong><em><u><%= frg.title %></u></em></strong></h1>
            <h3>By: <%= link_to frg.user.username.titleize, merchant_path(frg.user.username) %></h3>
          </div>
          <%= form_for :donate, :url => purchases_path(merchant_id: frg.user.id, uuid: frg.uuid), method: :post do |f| %>
            <% if current_user %>  
              <div class="modal-body">
                <div class="container-fluid">  
                  <div class="col-md-9">
                  	<h1>HI</h1>
                  </div>
                  <div class="col-md-3 text-center">
                    <h4>One Time Donation</h4>
                    <div class='form-group'>  
                      <%= f.radio_button(:donation_type, "One Time")%>   One Time Donation<br>
                    </div>
                    <div class='form-group'>  
                      <%= f.number_field :donation, min: 0, class: 'form-control text-center', placeholder: "Enter Donation Amount", step: 'any' %>
                    </div>
                    <% if frg.user.donation_plans.present? %>
                      <div class='form-group'>  
                        <h1>Or</h1>
                        <h4>Monthly Donation</h4>
                        <% frg.user.donation_plans.each do |plan| %>
                          <% if !current_user.donations.where(active: true).map(&:stripe_subscription_id).include?(plan.uuid) %>
                            <div class='row'>
                            	<%= f.radio_button(:donation_type, "#{plan.uuid}")%>  <%= number_to_currency(plan.amount, precision: 2) %>/month
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
  	              </div>
                </div>
              </div>
              <div class="modal-footer actions">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <%= f.submit "Donate Now", class: 'btn btn-primary' %>
              </div>
            <% else %>
              <h1>Please Sign-up to Donate</h1>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
	  <%= frg.title %>
	  <%= number_to_currency(frg.goal_amount, precision: 2) %>
	  <%= frg.description %>
		<% if policy(frg).edit? %>  
		  <%= link_to 'Show', frg %>
		  <%= link_to 'Edit', edit_fundraising_goal_path(frg) %>
		  <%= link_to 'Destroy', frg, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</div>
<% end %>