<div class='row'>	
	<%= form_for :create_user, url: create_user_path, method: :put  do |u| %>
		<div class='col-md-6 col-md-offset-3'>	
			<div class='form-group'>	
				<%= u.text_field :legal_name, placeholder: 'Name On Card: Jane G Doe', class: 'form-control', required: true, value: params[:legal_name] %>
			</div>
			<div class='form-group'>	
				<%= u.text_field :card_number, placeholder: 'Credit Card Number', class: 'form-control', required: true, minlength: 16, maxlength: 16, value: params[:card_number] %>
			</div>
			<div class='form-group'>	
				<%= u.text_field :exp_month, placeholder: "Expiration Month: #{DateTime.now.to_date.strftime('%m')}", class: 'form-control', minlength: 2, maxlength: 2, required: true, value: params[:exp_month] %>
			</div>
			<div class='form-group'>	
				<%= u.number_field :exp_year, placeholder: "Expiration Year: #{Time.now.year}", class: 'form-control', minlength: 4, maxlength: 4, required: true, value: params[:exp_year]%>
			</div>
			<div class='form-group'>	
				<%= u.text_field :cvc_number, placeholder: 'Enter CVC Number: 433', class: 'form-control', minlength: 3, maxlength: 4, required: true, value: params[:cvc_number]%>
				<%= u.hidden_field :stripe_amount, class: 'form-control', value: params[:amount] %>
				<%= u.hidden_field :fundraiser_name, class: 'form-control', value: params[:fundraiser_name] %>
				<%= u.hidden_field :phone_number, class: 'form-control', value: params[:phone_number] %>
				<%= u.hidden_field :donation_plan, class: 'form-control', value: params[:donation_plan] %>
			</div>
			<div class='form-group'>	
				<%= u.text_field :username, placeholder: "Username (No Spaces): donor_1", class: 'form-control', required: true, value: params[:exp_month] %>
			</div>
			<div class='form-group'>	
				<%= u.email_field :email, placeholder: 'Enter Email Address', class: 'form-control', required: true, value: params[:email] %>
			</div>
			<div class='form-group'>	
				<%= u.password_field :password, placeholder: 'Enter Desired Password', class: 'form-control', required: true %>
			</div>
			<div class='form-group'>	
				<%= u.password_field :password_confirm, placeholder: 'Re-enter Desired Password', class: 'form-control', required: true %>
			</div>
			<div class='actions form-group'>
				<%= u.submit "Donate", class: 'btn btn-success' %>
			</div>
		</div>
	<% end %>
</div>