<div class="nested-fields">
  <%= f.input :street %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :region, label: "Country" %>
  <%= f.input :zip %>
  <%= link_to_remove_association "Remove", f %>
</div>  