<div class='col-md-3 form-group'> 
  <div class="nested-fields text-center">
    <div class='row'>
      <div class='col-md-6'>  
        <%= f.label :name, "Member Name" %><br>
        <%= f.text_field :name, class: 'form-control text-center'  %><br>
      </div>
      <div class='col-md-6'>  
        <%= f.label :country, "Country Code" %><br>
        <%= f.text_field :country, class: 'form-control text-center', maxlength: 2  %><br>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>  
        <%= f.label :account_number, "Account Number" %><br>
        <%= f.text_field :account_number, class: 'form-control text-center'  %><br>
      </div>
      <div class='col-md-6'>  
        <%= f.label :routing_number, "Routing Number" %><br>
        <%= f.text_field :routing_number, class: 'form-control text-center'  %><br>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <%= f.label :percent, "Percent Of Revenue" %><br>
        <%= f.number_field :percent, class: 'form-control text-center', step: 'any'  %><br>
      </div>
        <%= f.hidden_field :uuid, value: SecureRandom.uuid.truncate(20, omission: ''), class: 'form-control text-center'  %><br>
    </div>
    <%= link_to_remove_association "Remove", f, class: 'btn btn-sm btn-danger' %><br>
  </div>
</div>
