<div class='container'>  

  <h1 class='text-center'>Editing <i><%= (current_user.email || current_user.username.capitalize) %></i> Account</h1>
  <div class="tab-v2">
    <div class='row'>
      <ul class="nav nav-pills">
        <% if current_user.admin? || current_user.merchant? %> 
          <li class=""><a href="#basic_info" data-toggle="tab" aria-expanded="false">Basic Information </a></li>
          <li class=""><a href="#payment_info" data-toggle="tab" aria-expanded="false">Payment Source</a></li>
          <li class=""><a href="#shipping" data-toggle="tab" aria-expanded="false">Shipping Addresses</a></li>
          <li class=""><a href="#merchant" data-toggle="tab" aria-expanded="false">Seller Information</a></li>
          <li class=""><a href="#donation_plans" data-toggle="tab" aria-expanded="false">Donation Plans</a></li>
        <% else %>
          <li class=""><a href="#basic_info" data-toggle="tab" aria-expanded="false">Account Info </a></li>
          <li class=""><a href="#payment_info" data-toggle="tab" aria-expanded="false">Payment Source</a></li>
          <li class=""><a href="#shipping" data-toggle="tab" aria-expanded="false">Shipping Addresses</a></li>
        <% end %>
        <li class=""><a href="#donations" data-toggle="tab" aria-expanded="false">My Donations</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade" id="basic_info">
        <div class='row'>
          <div class='container'>
            <h2 class='text-center'>Basic Information For <%= (current_user.email || current_user.username.capitalize) %></h2>
            <div class="col-md-8 col-md-offset-2">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
                <%= devise_error_messages! %>
                <div class="form-group text-center">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control text-center', placeholder: "Enter email" %>
                </div>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div class="form-group text-center">
                    <p>Waiting confirmation for:</p>
                    <%= resource.unconfirmed_email %>
                  </div>
                <% end %>
                <div class="form-group text-center">
                  <%= f.label :password %>
                  <%= f.password_field :password, class: 'form-control text-center', placeholder: "Enter current password" %>
                  <i>(leave blank if you don't want to change it)</i>
                </div>
                <div class="form-group text-center">
                  <%= f.label :password_confirmation, 'Change Password' %>
                  <%= f.password_field :password_confirmation, class: 'form-control text-center', placeholder: "Enter new password" %>
                </div>
                <div class="form-group text-center">
                  <%= f.password_field :current_password, class: 'form-control text-center', placeholder: "Repeat password" %>
                  <i>(we need your current password to confirm your changes)</i>
                </div>
                <div class="form-group text-center">
                  <%= f.submit "Update", class: 'btn btn-success form-control text-center' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="payment_info">
        <div class='row'>
          <div class='container'>
            <h2 class='text-center'>Payment &amp; Credit Card Information</h2>
            <br>
            <div class='row'>
              <%= form_for(current_user) do |f| %>
                <div class='col-md-8 col-md-offset-2'>  
                  <div class="row">  
                    <div class='col-md-6'>
                      <div class="form-group text-center">
                        <%= f.label :legal_name, 'Full Legal Name' %>
                        <%= f.text_field :legal_name, class: 'form-control text-center', placeholder: "John G Doe"%>
                      </div>
                    </div>
                    <div class='col-md-6'>
                      <div class="form-group text-center">
                        <%= f.label :username %>
                        <%= f.text_field :username, class: 'form-control text-center', placeholder: "Enter Username"%>
                      </div>
                    </div>
                  </div>
                  <div class="row">  
                    <% @crypt = ActiveSupport::MessageEncryptor.new(ENV['SECRET_KEY_BASE']) %>
                    <div class='col-md-3'>  
                      <div class="form-group text-center">
                        <%= f.label :card_number, "Card Number" %>
                        <% if current_user.card_number? %>
                          <%= f.text_field :card_number, class: 'form-control text-center', placeholder: "4000000000000077", maxlength: 16, value: @crypt.decrypt_and_verify(current_user.card_number) %>
                        <% else %>
                          <%= f.text_field :card_number, class: 'form-control text-center', placeholder: "Enter card number", maxlength: 16 %>
                        <% end %>
                      </div>
                    </div>
                    <div class='col-md-3'>  
                      <div class="form-group text-center">
                        <%= f.label :exp_month, 'Exp Month (2 Digits)' %>
                        <%= f.text_field :exp_month, class: 'form-control text-center', placeholder: "01", minlength: 2, maxlength: 2 %>
                      </div>
                    </div>
                    <div class='col-md-3'>  
                      <div class="form-group text-center">
                        <%= f.label :exp_year, 'Exp Year (4 Digits)' %>
                        <%= f.text_field :exp_year, class: 'form-control text-center', placeholder: "2023", minlength: 4, maxlength: 4 %>
                      </div>
                    </div>
                    <div class='col-md-3'>  
                      <div class="form-group text-center">
                        <%= f.label :cvc_number, 'CVC Number' %>
                        <%= f.text_field :cvc_number, class: 'form-control text-center', placeholder: "3432", maxlength: 4%>
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-6'>    
                      <div class="form-group text-center">
                        <%= f.label :support_phone, 'Phone Number (For Shipping)' %>
                        <%= f.text_field :support_phone, class: 'form-control text-center', placeholder: "4143997432"%>
                      </div>
                    </div>
                    <div class='col-md-6'>  
                      <div class="form-group text-center">
                        <%= f.label :country_name, 'Country Name' %>
                        <%= f.text_field :country_name, class: 'form-control text-center', placeholder: "France" %>
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-6'>  
                      <div class="form-group text-center">
                        <%= f.label :address_country, 'Country Code (2 letters)' %>
                        <%= f.text_field :address_country, class: 'form-control text-center', placeholder: "us", minlength: 2, maxlength: 2%>
                      </div>
                    </div>
                    <div class='col-md-6'>  
                      <div class="form-group text-center">
                        <%= f.label :currency, 'Currency Code (3 Letter ISO Code)' %>
                        <%= f.text_field :currency, class: 'form-control text-center', placeholder: "USD", minlength: 3, maxlength: 3%>
                      </div>
                    </div>
                    <div class="actions">
                      <%= f.submit "Update", class: 'btn btn-success form-control' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="donations">
        <div class='row'>
          <div class='container'>
            <h1>Donations</h1>
            <br>
            <div class='row'>
              <div class="tab-v2">
                <div class='row'>
                  <ul class="nav nav-pills col-md-6 col-md-offset-4">
                    <li class=""><a href="#one_time" data-toggle="tab" aria-expanded="false">One Time Donations </a></li>
                    <li class=""><a href="#subscription" data-toggle="tab" aria-expanded="false">Monthly Donations</a></li>
                  </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade" id="one_time">
                      <%= form_for(current_user) do |f| %>
                        <h1>One Time Donations</h1>
                        <div class='row'>
                          <div class='col-md-4'>  
                            <% current_user.donations.where(donation_type: 'one-time').each do |d| %>
                              <div class='form-group'> 
                                <%= "Donation Amount: #{number_to_currency(d.amount/100, precision: 2)}" %>
                              </div>
                              <div class='form-group'> 
                                <%= "Organization: #{d.organization}" %>
                              </div>
                              <div class='form-group'> 
                                Fundraiser: <%= link_to "#{d.fundraising_goal.title}", fundraising_goal_path(id: d.fundraising_goal.slug) %>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <div class="tab-pane fade" id="subscription">
                      <%= form_for(current_user) do |f| %>
                        <h1>Monthly Donations</h1>
                        <div class='row'>
                          <div class='col-md-4'>  
                            <% current_user.donations.where(donation_type: 'subscription', active: true).each do |d| %>
                              <div class='form-group'> 
                                <%= "Donation Amount: #{number_to_currency(d.amount/100, precision: 2)}" %>
                              </div>
                              <div class='form-group'> 
                                <%= "Organization: #{d.organization}" %>
                              </div>
                              <div class='form-group'> 
                                Fundraiser: <%= link_to "#{d.fundraising_goal.title}", fundraising_goal_path(id: d.fundraising_goal.slug) %>
                              </div>
                              <div class='form-group'> 
                                <%= link_to "Suspend Donation", cancel_donation_plan_path(uuid: d.uuid, fundraiser_stripe_account_id: d.fundraiser_stripe_account_id, subscription_id: d.subscription_id), method: :put, class: 'btn btn-warning form-control', data: { confirm: 'Are you sure?' } %>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="shipping">
        <div class='row'>  
          <%= form_for(current_user) do |f| %>  
            <h2 class='text-center'>Shipping Addresses</h2>
            <div class='form-group'>  
              <%= f.simple_fields_for :shipping_addresses do |address| %>
                <%= render 'shipping_address_fields', f: address %>
              <% end %>
            </div>
            <div class="links form-group">
              <div class='row form-group'>    
                <%= link_to_add_association 'Add Shipping Option', f, :shipping_addresses, class: 'btn btn-info col-md-6 col-md-offset-3' %>
              </div>
            </div>
            <div class="actions form-group">
              <div class='row form-group'>    
                <%= f.submit "Update", class: 'btn btn-success col-md-6 col-md-offset-3' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="donation_plans">
        <div class='row'>  
          <%= form_for(current_user) do |f| %>  
            <h2 class='text-center'>Donation Plans</h2>
            <div class='form-group'>  
              <%= f.simple_fields_for :donation_plans do |plan| %>
                <%= render 'donation_plan_fields', f: plan %>
              <% end %>
            </div>
            <div class="links form-group">
              <div class='row form-group'>    
                <%= link_to_add_association 'Add Donation Plan', f, :donation_plans, class: 'btn btn-info col-md-6 col-md-offset-3' %>
              </div>
            </div>
            <div class="actions form-group">
              <div class='row form-group'>    
                <%= f.submit "Update", class: 'btn btn-success col-md-6 col-md-offset-3' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="merchant">
        <h2 class='text-center'>Business Information</h2>
        <div class="tab-v2">
          <div class='row'>
            <ul class="nav nav-pills col-md-6 col-md-offset-4">
              <li class=""><a href="#business_info" data-toggle="tab" aria-expanded="false">Basic Information </a></li>
              <li class=""><a href="#bank_account" data-toggle="tab" aria-expanded="false">Bank Account</a></li>
              <li class=""><a href="#seller_plan" data-toggle="tab" aria-expanded="false">Current Plan</a></li>
            </ul>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade" id="business_info">
            <div class='row'>  
              <% if current_user.merchant? || current_user.admin? %>  
                <h3 class='text-center'>Business Information</h3>
                <%= form_for(current_user) do |f| %>
                  <div class="form-group text-center">
                    <%= f.label :first_name, 'First Name' %>
                    <%= f.text_field :first_name, class: 'form-control text-center', placeholder: "John"%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :last_name, 'Last Name' %>
                    <%= f.text_field :last_name, class: 'form-control text-center', placeholder: "Doe"%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :return_policy, 'Return Policy' %>
                    <%= f.text_area :return_policy, class: 'form-control text-center', placeholder: "You will be responsible for handling returns of your managed products.  Please outline the policy on which you will and will not accept returns and refunds.", minlength: 100, size: '10x10'%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :dob_day, 'Birth Day (2 Digits)' %>
                    <%= f.text_field :dob_day, class: 'form-control text-center', placeholder: "01", minlength: 2, maxlength: 2%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :dob_month, 'Birth Month (2 Digits)' %>
                    <%= f.text_field :dob_month, class: 'form-control text-center', placeholder: "09", minlength: 2, maxlength: 2%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :dob_year, 'Birth Year (4 Digits)' %>
                    <%= f.text_field :dob_year, class: 'form-control text-center', placeholder: "#{Time.now.year}", minlength: 4, maxlength: 4%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :business_name, 'Business Name' %>
                    <%= f.text_field :business_name, class: 'form-control text-center', placeholder: "Enter Business Name or Legal Name", value: "#{current_user.business_name}"%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :address, 'Business Street' %>
                    <%= f.text_field :address, class: 'form-control text-center', placeholder: "526 West Wilson suite B", value: "#{current_user.address}"%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :address_city, 'Business City' %>
                    <%= f.text_field :address_city, class: 'form-control text-center', placeholder: "526 West Wilson suite B", value: "#{current_user.address_city}"%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :address_zip, 'Business Zip' %>
                    <%= f.text_field :address_zip, class: 'form-control text-center', placeholder: "526 West Wilson suite B", value: "#{current_user.address_zip}", minlength: 5 %>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :address_state, 'Business State' %>
                    <%= f.text_field :address_state, class: 'form-control text-center', placeholder: "526 West Wilson suite B", value: "#{current_user.address_state}",maxlength: 2 %>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :business_url, 'Business URL' %>
                    <%= f.text_field :business_url, class: 'form-control text-center', placeholder: "Enter Business URL or Link to Profile Page",value: "http://localhost:3000/merchants/#{current_user.slug}"%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :support_email, 'Support Email' %>
                    <%= f.text_field :support_email, class: 'form-control text-center', placeholder: "Enter email for customer support", value: "#{current_user.email}"%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :support_phone, 'Support Phone' %>
                    <%= f.text_field :support_phone, class: 'form-control text-center', placeholder: "Customer Service Phone Number"%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :support_url, 'Support URL' %>
                    <%= f.text_field :support_url, class: 'form-control text-center', placeholder: "Enter Business URL or Link to Profile Page",value: "http://localhost:3000/merchants/#{current_user.slug}"%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :tax_rate, 'Desired Tax Rate' %>
                    <%= f.text_field :tax_rate, class: 'form-control text-center', placeholder: "2.090"%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.label :statement_descriptor, 'Statement Descriptor' %>
                    <%= f.text_field :statement_descriptor, class: 'form-control text-center', placeholder: "Enter Business URL or Link to Profile Page",value: "Purchased from #{current_user.username} via MarketplaceBase"%>
                  </div>
                  <div class="form-group text-center">
                    <%= f.submit "Update", class: 'btn btn-success' %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="bank_account">
            <%= form_for(current_user) do |f| %>
              <h3 class='text-center'>Bank Account Info</h3>
              <div class="form-group text-center">
                <%= f.select :stripe_account_type, ['individual', 'company']%>
              </div>
              <div class="form-group text-center">
                <%= f.label :account_number, 'Account Number  (Encrypted)' %>
                <% if current_user.account_number? %>
                  <%= f.text_field :account_number, maxlength: 16, class: 'form-control text-center', placeholder: "Enter account number",value: @crypt.decrypt_and_verify(current_user.account_number)  %>
                <% else %>
                  <%= f.text_field :account_number, maxlength: 16, class: 'form-control text-center', placeholder: "Enter account number" %>
                <% end %>
              </div>
              <div class="form-group text-center">
                <%= f.label :routing_number, 'Routing Number' %>
                <%= f.text_field :routing_number, class: 'form-control text-center', placeholder: "Enter routing number"%>
              </div>
              <div class="form-group text-center">
                <%= f.label :bank_currency, 'Bank Account Currency' %>
                <%= f.text_field :bank_currency, class: 'form-control text-center', placeholder: "Currency To Convert Your Purchases To"%>
              </div>
              <div class="form-group text-center">
                <%= f.submit "Update", class: 'btn btn-success' %>
              </div>
            <% end %>
          </div>
          <% if current_user.stripe_plan_id %>  
            <div class="tab-pane fade" id="seller_plan">
              <div class="row">
                <div class="col-md-4">
                  <h3 class='text-center'>Cancel Merchant Plan: <%= current_user.stripe_plan_name %></h3>
                  <div class="form-group text-center">
                    <p><%= button_to "Cancel", subscribe_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>