<div class='container'>  

  <h2 class='text-center'>Editing <i><%= current_user.email %></i> Account</h2>
  <div class="row">
    <div class="col-md-4">
      <h3>Cancel Merchant Plan</h3>
      <div class="form-group">
          <p><%= button_to "Cancel", subscribe_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <h3>Basic Information</h3>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', placeholder: "Enter email" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="form-group">
            <p>Waiting confirmation for:</p>
            <%= resource.unconfirmed_email %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control', placeholder: "Enter current password" %>
          <i>(leave blank if you don't want to change it)</i>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, 'Change Password' %>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter new password" %>
        </div>
        <div class="form-group">
          <%= f.password_field :current_password, class: 'form-control', placeholder: "Repeat password" %>
          <i>(we need your current password to confirm your changes)</i>
        </div>
        <div class="form-group">
          <%= f.submit "Update", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <h3>Payment &amp; Shipping</h3>
      <%= form_for(current_user) do |f| %>
        <div class="form-group">
          <%= f.label :legal_name, 'Full Legal Name' %>
          <%= f.text_field :legal_name, class: 'form-control', placeholder: "John G Doe"%>
        </div>
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control', placeholder: "Enter Username"%>
        </div>
        <div class="form-group">
          <%= f.label :shipping_address, 'Shipping Address' %>
          <%= f.text_field :shipping_address, class: 'form-control', placeholder: "526 West Mifflin Street Apt 29"%>
        </div>
        <div class="form-group">
          <%= f.label :address_city, 'City' %>
          <%= f.text_field :address_city, class: 'form-control', placeholder: "Madison"%>
        </div>
        <div class="form-group">
          <%= f.label :address_zip, 'Zip Code' %>
          <%= f.text_field :address_zip, class: 'form-control', placeholder: "53703"%>
        </div>
        <div class="form-group">
          <%= f.label :address_state, 'State' %>
          <%= f.text_field :address_state, class: 'form-control', placeholder: "California", minlength: 3%>
        </div>
        <% @crypt = ActiveSupport::MessageEncryptor.new(ENV['SECRET_KEY_BASE']) %>
        <div class="form-group">
          <%= f.label :card_number, "Card Number (Encrypted)" %>
          <% if current_user.card_number? %>
            <%= f.text_field :card_number, class: 'form-control', placeholder: "4000000000000077", maxlength: 16, value: @crypt.decrypt_and_verify(current_user.card_number) %>
          <% else %>
            <%= f.text_field :card_number, class: 'form-control', placeholder: "Enter card number", maxlength: 16 %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :exp_month, 'Expiration Month (2 Digits)' %>
          <%= f.text_field :exp_month, class: 'form-control', placeholder: "01", minlength: 2, maxlength: 2 %>
        </div>
        <div class="form-group">
          <%= f.label :exp_year, 'Expiration Year (4 Digits)' %>
          <%= f.text_field :exp_year, class: 'form-control', placeholder: "2023", minlength: 4, maxlength: 4 %>
        </div>
        <div class="form-group">
          <%= f.label :cvc_number, 'CVC Number' %>
          <%= f.text_field :cvc_number, class: 'form-control', placeholder: "3432", maxlength: 4%>
        </div>
        <div class="form-group">
          <%= f.label :country_name, 'Country Name' %>
          <%= f.text_field :country_name, class: 'form-control', placeholder: "France" %>
        </div>
        <div class="form-group">
          <%= f.label :address_country, 'Country Code (2 letters)' %>
          <%= f.text_field :address_country, class: 'form-control', placeholder: "us", minlength: 2, maxlength: 2%>
        </div>
        <div class="form-group">
          <%= f.label :currency, 'Currency Code (3 Letter ISO Code)' %>
          <%= f.text_field :currency, class: 'form-control', placeholder: "USD", minlength: 3, maxlength: 3%>
        </div>
        <div class="form-group">
          <%= f.submit "Update", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <h3>Seller Information</h3>
      <%= form_for(current_user) do |f| %>
        <div class="form-group">
          <%= f.label :first_name, 'First Name' %>
          <%= f.text_field :first_name, class: 'form-control', placeholder: "John"%>
        </div>
        <div class="form-group">
          <%= f.label :last_name, 'Last Name' %>
          <%= f.text_field :last_name, class: 'form-control', placeholder: "Doe"%>
        </div>
        <div class="form-group">
          <%= f.label :return_policy, 'Return Policy' %>
          <%= f.text_area :return_policy, class: 'form-control', placeholder: "You will be responsible for handling returns of your managed products.  Please outline the policy on which you will and will not accept returns and refunds.", minlength: 100, size: '10x10'%>
        </div>
        <div class="form-group">
          <%= f.label :dob_day, 'Birth Day (2 Digits)' %>
          <%= f.text_field :dob_day, class: 'form-control', placeholder: "01", minlength: 2, maxlength: 2%>
        </div>
        <div class="form-group">
          <%= f.label :dob_month, 'Birth Month (2 Digits)' %>
          <%= f.text_field :dob_month, class: 'form-control', placeholder: "09", minlength: 2, maxlength: 2%>
        </div>
        <div class="form-group">
          <%= f.label :dob_year, 'Birth Year (4 Digits)' %>
          <%= f.text_field :dob_year, class: 'form-control', placeholder: "#{Time.now.year}", minlength: 4, maxlength: 4%>
        </div>
        <div class="form-group">
          <%= f.label :business_name, 'Business Name' %>
          <%= f.text_field :business_name, class: 'form-control', placeholder: "Enter Business Name or Legal Name", value: "#{current_user.business_name}"%>
        </div>
        <div class="form-group">
          <%= f.label :address, 'Business Address' %>
          <%= f.text_field :address, class: 'form-control', placeholder: "526 West Wilson suite B", value: "#{current_user.address}"%>
        </div>
        <div class="form-group">
          <%= f.label :business_url, 'Business URL' %>
          <%= f.text_field :business_url, class: 'form-control', placeholder: "Enter Business URL or Link to Profile Page",value: "http://localhost:3000/merchants/#{current_user.slug}"%>
        </div>
        <div class="form-group">
          <%= f.label :support_email, 'Support Email' %>
          <%= f.text_field :support_email, class: 'form-control', placeholder: "Enter email for customer support", value: "#{current_user.email}"%>
        </div>
        <div class="form-group">
          <%= f.label :support_phone, 'Support Phone' %>
          <%= f.text_field :support_phone, class: 'form-control', placeholder: "Customer Service Phone Number"%>
        </div>
        <div class="form-group">
          <%= f.label :support_url, 'Support URL' %>
          <%= f.text_field :support_url, class: 'form-control', placeholder: "Enter Business URL or Link to Profile Page",value: "http://localhost:3000/merchants/#{current_user.slug}"%>
        </div>
        <div class="form-group">
          <%= f.label :statement_descriptor, 'Statement Descriptor' %>
          <%= f.text_field :statement_descriptor, class: 'form-control', placeholder: "Enter Business URL or Link to Profile Page",value: "Purchased from #{current_user.username} via MarketplaceBase"%>
        </div>
      <div class="form-group">
        <%= f.submit "Update", class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
    <div class='col-md-3'>
      <%= form_for(current_user) do |f| %>
        <h3>Bank Account Info</h3>
        <div class="form-group">
          <%= f.select :stripe_account_type, ['individual', 'company']%>
        </div>
        <div class="form-group">
          <%= f.label :account_number, 'Account Number  (Encrypted)' %>
          <% if current_user.account_number? %>
            <%= f.text_field :account_number, maxlength: 16, class: 'form-control', placeholder: "Enter account number",value: @crypt.decrypt_and_verify(current_user.account_number)  %>
          <% else %>
            <%= f.text_field :account_number, maxlength: 16, class: 'form-control', placeholder: "Enter account number" %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :routing_number, 'Routing Number' %>
          <%= f.text_field :routing_number, class: 'form-control', placeholder: "Enter routing number"%>
        </div>
        <div class="form-group">
          <%= f.submit "Update", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
