<h1>Listing Purchases</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= image_tag(Product.find_by(uuid: purchase.uuid).product_image.url(:p50x50)) %></td>
        <td><%= purchase.title %></td>
        <td><%= "Price: $#{number_with_precision(purchase.price.to_f / 100, precision: 2)}" %></td>
        <% if purchase.refunded? %>
          <h4>This Purchase Has Been Refunded</h4>
        <% else %>
          <td><%= link_to 'Show', product_path(purchase.product_id) %></td>
          <td><%= link_to "Refund", refunds_path(purchase_id: purchase.purchase_id, price: purchase.price, uuid: purchase.uuid, application_fee: purchase.application_fee, refund_id: purchase.stripe_charge_id), method: :post, data: { confirm: "Refund #{purchase.title.titleize} now for $#{number_with_precision(purchase.price.to_f / 100, precision: 2)}?" } %></td>
          <td>Status: <%= purchase.status %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>