<h1>Personal Orders</h1>
<% @purchases.each do |purchase| %>
  <div class="row">  
    <div class="col-md-4">
      <%= image_tag(Product.find_by(uuid: purchase.uuid).product_image.url(:p50x50)) %>
      <%= "Product: #{purchase.title}" %><br>
      <%= "Price: #{number_to_currency(purchase.price.to_f / 100, precision: 2)}" %><br>
      <%= "Shipping Option: #{purchase.shipping_option} (#{number_to_currency(Product.find(purchase.product_id).shipping_options.find_by(title: purchase.shipping_option).price, precision: 2)})" %><br>
      <%= "Ship To: #{purchase.ship_to}" %><br>
      <%= "Quantity: #{purchase.quantity}" %><br>
      <%= "Status: #{purchase.status}" %><br>
      <% if purchase.tracking_number %>
        <%= "Carrier: #{purchase.carrier}" %>
        <%= "Message: #{AfterShip::V4::LastCheckpoint.get(purchase.carrier, purchase.tracking_number)['data']['tag']}" %><br>
        <%= "Tracking Number: #{purchase.tracking_number}" %><br>
      <% end %>
      <% if purchase.refunded? %>
        <h4>This Purchase Has Been Refunded</h4>
      <% elsif purchase.status == "Pending Refund" %>
        <%= link_to 'Show', product_path(purchase.product_id) %><br>
        Status: <%= purchase.status %><br>
      <% else %>
        <%= link_to "Refund", refunds_path(purchase_id: purchase.purchase_id, price: purchase.price, uuid: purchase.uuid, application_fee: purchase.application_fee, refund_id: purchase.stripe_charge_id), method: :post, data: { confirm: "Refund #{purchase.title.titleize} now for #{number_to_currency(purchase.price.to_f / 100, precision: 2)}?" } %><br>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_user.merchant? || current_user.admin?%>
  <h1>Store Orders</h1>
  <div class='row'>
    <div class="col-md-4">
      <% @orders.each do |order| %>
          <%= image_tag(Product.find_by(uuid: order.uuid).product_image.url(:p50x50)) %><br>
          <%= order.title %><br>
          <%= "Price: #{number_to_currency(order.price.to_f / 100, precision: 2)}" %><br>
          <%= "Shipping Option: #{order.shipping_option} (#{number_to_currency(Product.find(order.product_id).shipping_options.find_by(title: order.shipping_option).price, precision: 2)})" %><br>
          <%= "Ship To: #{order.ship_to}" %><br>
          <%= "Quantity: #{order.quantity}" %><br>
          <%= "Status: #{order.status}" %><br>
          <% if order.tracking_number %>
            <%= "Carrier: #{order.carrier}" %><br>
            <%= "Tracking Number: #{order.tracking_number}" %><br>
            <%= "Message: #{AfterShip::V4::LastCheckpoint.get(order.carrier, order.tracking_number)['data']['tag']}" %><br>
          <% elsif !order.refunded? %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".<%= order.purchase_id %>">Add Tracking Number</button><br>
          <% end %>
          <!-- Small modal -->

          <div class="modal fade <%= order.purchase_id %>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h1>Tracking Number For <%= order.title %></h1>
                </div>
                <%= form_tag purchase_path(id: order.id, uuid: order.uuid), method: :put do %>
                  <div class="modal-body">
                    <div class="container-fluid">  
                      <div class="col-md-3" %>
                        <%= text_field_tag :tracking_number%>
                      </div>
                      <div class="col-md-9">
                        <h3><%="Price:  #{number_to_currency(order.price/100, precision: 2)} "%></h3>
                        <h3>Shipping Address: <u><%="#{order.ship_to} "%></u></h3>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer actions">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <%= submit_tag "Submit Order", class: 'btn btn-success' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <% if order.refunded? %>
            <h4>This Purchase Has Been Refunded</h4>
          <% else %>
            <%= link_to 'Show', product_path(order.product_id) %><br>
          <% end %>
      <% end %>
    </div>
  </div>
<% end %>