<h1>Personal Orders</h1>
<% @purchases.each do |order| %>
  <div class="col-md-4">
    <%= "Total Price: #{number_to_currency(order.total_price, precision: 2)}" %><br>
    <%= "Shipping Option: #{order.shipping_option}" %><br>
    <%= "Ship To: #{order.ship_to}" %><br>
    <%= "Status: #{order.status}" %><br>
    <% if order.tracking_number %>
      <%= "Carrier: #{order.carrier}" %><br>
      <%= "Tracking Number: #{order.tracking_number}" %><br>
    <% end %>
    <h4>Products</h4>
    <% order.order_items.each do |p,g| %>        
      <ul class='col-md-6'>
        <li>Item: <%= p.title %></li>
        <li>Price: <%= number_to_currency(p.price, precision: 2) %></li>
        <li>Quantity: <%= p.quantity %></li>
      </ul>
    <% end %>
    <% if !order.paid? %>
      <%= link_to "Submit Order #{number_to_currency(order.total_price, precision: 2)}", purchases_path(merchant_id: order.merchant_id, order: order), class: 'btn btn-success', method: :post, data: {confirm: "You Agree to the merchant #{User.find(order.merchant_id).username}'s Return Policy?"} %>
    <% end %>
    <% if !order.refunded && order.status == "Pending Submission" %>
      <%= link_to "Refund", refunds_path(purchase_id: order.purchase_id, price: order.total_price, application_fee: order.application_fee, refund_id: order.stripe_charge_id), method: :post, data: { confirm: "Refund now for #{number_to_currency(order.total_price.to_f, precision: 2)}?" }, class: 'btn btn-warning' %><br>
    <% elsif !order.refunded && order.status == "Pending Refund"  %>
      <h4>This Is A Pending Refund</h4>
    <% else %>
      
    <% end %>
  </div>
<% end %>
<% if current_user.admin? || current_user.merchant? %>
  <h1>Store Orders</h1> 
  <% @orders.each do |order| %>
    <div class='col-md-4'>  
      <h4><%="Status: #{order.status}" %></h4><br>
      <%= "Tracking Number: #{order.tracking_number}" %><br>
      <%= "Shipping Address: #{order.ship_to}" %><br>
      <%= "Customer Contact: #{order.customer_name}" %><br>
      <%= "Shipping Option: #{order.shipping_option}" %><br>
      <%= "Shipping Price: #{number_to_currency(order.shipping_price, precision: 2)}" %><br>
      <%= "Total Price: #{number_to_currency(order.total_price, precision: 2)}" %><br>
      <%= "Paid: #{order.paid}" %><br>
      <h4>Product Information</h4>
      <% order.order_items.each do |oi| %>
        <ul class='col-md-6'>
          <li><%= oi.title %><br></li>
          <li><%= oi.quantity %><br></li>
          <li><%= number_to_currency(oi.price, precision:2) %></li><br>
        </ul>  
      <% end %>
    </div>
  <% end %>
<% end %>