<div class='container'>
  <h1><%= @merchant.username %></h1>
  <% @merchant.products.each do |pro| %>
    <p>
      <%= link_to pro.title, product_path(pro.slug) %>
      <%= number_to_currency(pro.price, precision: 2) %>
      <% pro.shipping_options.each do |option| %>
        <small><em><strong>Shipping Options:</strong><em></small>
        <%= option.title %>
        <%= option.price %>
      <% end %>
    </p>
  <% end %>
</div>