<h1>Refunds</h1>
<div class="row">	
	<div class="container">	
		<% @refunds.each do |refund| %>
			<div class='col-md-3'>	
				<%= "Order Total Price: #{number_to_currency(refund.order.total_price, precision: 2)}" %><br>
			  <%= "Refund Request: #{ number_to_currency((refund.amount), precision: 2)}" %><br>
			  <%= "Status: #{refund.status}" %><br>
			  <%= "Submitted: #{refund.created_at.to_date.strftime("%B #{refund.created_at.to_date.day.ordinalize}, %Y")}" %><br>
		  	<div class="col-md-12">
					<div class="form-group"> 
					  <%= link_to "Refund Details", "##{refund.order.uuid}details", class: 'btn btn-info form-control', 'data-toggle' => 'modal'  %>
					</div>
	        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="<%= refund.order.uuid %>details">
	          <div class="modal-dialog modal-sm">
	            <div class="modal-content">
	              <div class="modal-header text-center">
	                <h2>Refund Details For <br><u><em><strong><%= refund.order.uuid %></strong></em></u></h2>
	              </div>
	              <div class="modal-body">
		              <%= form_for :refund, :url => refund_path(id: refund.id, refund_id: refund.order.stripe_charge_id, refund_uuid: refund.uuid), method: :put do |f| %>
		                <div class="container-fluid text-center">
		                  <% if refund.amount == Order.find_by(uuid: refund.order.uuid).total_price %>
		                  	<h4>Requesting Full Refund For The Following Reason:</h4>
			                  	<% if refund.note.empty? %>
				                  	<h5>None</h5>
				                  <% else %>
				                  	<h5><%= refund.note %></h5>
				                  <% end %>
		                  <% else %>
			                  <% refund.returned_products.each do |product| %>
				                  <div class='row'>  
				                    <div class='col-md-6 form-group'>  
				                      <h4><u><strong>Item:</strong></u> <%= product.title %><br></h4>
				                      <h4><u><strong>Reason For Refund:</strong></u> <%= product.note %><br></h4>
				                      <h4><u><strong>Amount To Refund:</strong></u> <%= number_to_currency(product.price, precision:2) %><br></h4>
				                    </div>
			                    </div>
			                  <% end %>
		                  <% end %>
			                <div class='row'>  
			                  <div class='col-md-6'>
				                  <h3>Refund Request Amount</h3>
				                  <h4><%= "#{ number_to_currency((refund.amount), precision: 2)}" %><h4><br>
				                </div>
			                  <div class='col-md-6'>
				                  <h3>Max Refund Amount <small>(itemized)</small></h3>
				                  <h4><%= number_to_currency(((refund.order.order_items.map(&:total_price).sum) +(refund.order.order_items.map(&:total_price).sum * User.find(refund.merchant_id).tax_rate / 100).to_f - refund.order.refunds.map(&:amount_issued).sum), precision: 2) %></h4>
				                </div>
			                </div>
		                  <hr>
			                <div class='row'>  
				                <div class='col-md-4'>  
				                  <h3>Itemized Refund</h3>
				                  <div class='form-group'>  
				                    <%= f.radio_button(:refund_type, "partial_refund")%>   Partial Refund<br>
				                  </div>
				                  <%= f.number_field :refund_amount, class: 'form-control text-center', step: 'any', placeholder: "Enter Refund Amount", max: ((refund.order.order_items.map(&:total_price).sum) +(refund.order.order_items.map(&:total_price).sum * User.find(refund.merchant_id).tax_rate / 100).to_f)  %>
				                </div>
				                <div class='col-md-4'>  
				                	<h1>Or</h1>
				                </div>
				                <div class='col-md-4'>  
				                  <h3>Full Refund</h3>
				                	<div class='form-group'>  
				                    <%= f.radio_button(:refund_type, "full_refund")%>   Full Refund<br>
				                  </div>
				                </div>
			                </div>
		                </div>
		                <div class='modal-footer actions'>
		                	<%= f.submit "Issue Refund", class: 'btn btn-success' %>
		                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		                </div>
		              <% end %>
	              </div>
	            </div>
	          </div>
	        </div>
        </div>
			</div>
		<% end %>
	</div>
</div>