<h1>Refunds</h1>
<% @refunds.each do |refund| %>
  <%= number_to_currency((refund.total_price), precision: 2) %>
  <%= refund.status %>
  <%= refund.purchase_id %>
  <%= refund.created_at.to_date.strftime("%B #{refund.created_at.to_date.day.ordinalize}, %Y") %>
  <%= link_to "Issue Refund", refund_path(id: refund.id, uuid: refund.uuid, refund_id: refund.stripe_charge_id, price: refund.total_price), class: 'btn btn-warning', method: :put %>
<% end %>