<%= simple_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.input :title, class: 'form-control', placeholder: "Enter Title", label: false %>
  </div>

  <div class="form-group">
    <%= f.input :price, class: 'form-control', placeholder: "Enter price", label: false %>
  </div>

  <div class="form-group">
    <%= f.input :product_image, as: :file, label: 'Product Image (extensions: .jpeg, .png, .gif)' %>
  </div>
  <%= f.hidden_field :uuid, class: 'form-control', label: false, value: SecureRandom.uuid %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
