<h1>Plans</h1>
<div class="container top-space">
  <br>
  <h1 class='text-center'>This is <em><strong><u>monthly</u></strong></em> subscription</h1>
  <br>
  <br>
  <div class="row">
    <div class='col-md-4 col-sm-12 col-xs-12'>
      <div class="form-group">
          <%= form_tag subscribe_path(987654356789), method: :put do %>
            <h1 class='text-center'>Basic Plan</h1>
            <%= link_to "Choose Plan", '', class: 'btn btn-info btn-lg text-center', 'data-toggle' => 'modal', 'data-target'=> '#basicPlan' %>
            <div class="modal fade" id="basicPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title text-center" id="myModalLabel">Basic Plan</h1>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Window Sponsorship"
                    data-amount="2000">
            </script>
          <% end %>
      </div>
    </div>
    <div class='col-md-4 col-sm-12 col-xs-12'>
      <div class="form-group">
          <%= form_tag subscribe_path(8734002), method: :put do %>
            <h1 class='text-center'>Advanced Plan</h1>
            <%= link_to "Choose Plan", '', class: 'btn btn-info btn-lg', 'data-toggle' => 'modal', 'data-target'=> '#advPlan' %>
            <div class="modal fade" id="advPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title text-center" id="myModalLabel">Advanced Plan</h1>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="World Sponsorship"
                    data-amount="5000">
            </script>
          <% end %>
      </div>
    </div>
    <div class='col-md-4 col-sm-12 col-xs-12'>
      <div class="form-group">
        <%= form_tag subscribe_path(349867578729), method: :put do %>
          <h1 class='text-center'>Pro Plan</h1>
          <%= link_to "Choose Plan", '', class: 'btn btn-info btn-lg', 'data-toggle' => 'modal', 'data-target'=> '#proPlan' %>
          <div class="modal fade" id="proPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h1 class="modal-title text-center" id="myModalLabel">Pro Plan</h1>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Star Sponsorship"
                data-amount="10000">
          </script>
        <% end %>
      </div>
    </div>
  </div>
</div>








