<h1>Donation Revenue</h1>
<div class='dashboard_ana'>  
  <div class='row form-group'>
    <%= high_chart("bar_chart4", @area) %>
  </div>
  <div class='row form-group'>
    <%= high_chart("colum_chart", @colum) %>
  </div>
  <div class='row form-group'>
    <%= high_chart("column_chart", @column) %>
  </div>
  <div class='row form-group'>
    <div class='col-md-6'>
      <%= high_chart("bar_chart3", @pie)%>
    </div>
    <div class='col-md-6'>
      <%= high_chart("bar_charZ3", @pe)%>
    </div>
  </div>
</div>
