<ul class="nav nav-tabs bringin">
  <li><%= link_to "Marketplace-Base", root_path %></li>
  <div class="pull-right user-info">
    <% if current_user %>
      <%= link_to "Plans", plans_path %> |
      <%= link_to "Orders", orders_path %> <% if current_user.merchant_approved? || current_user.admin? %> <%= "(#{Order.all.where(merchant_id: current_user.id).where(paid: true, tracking_number: nil, refunded: (false || nil)).count + current_user.orders.where(status: "Pending Submission").where(active: true).count })"  %> <% else %> (<%= current_user.orders.where(status: "Pending Submission").where(active: true).count %>) <% end %> | 
      Hello <%= link_to (current_user.email), edit_user_registration_path %>! | 
      <% if current_user.merchant_approved? || current_user.admin? %>
        <%= link_to "Refunds (#{Refund.all.where(merchant_id: current_user.id).where(status: "Pending").count})", refunds_path %> | 

        <div class="btn-group">
          <button type="button" class="btn btn-info">Message Blasts</button>
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "Text Blast", "#text_blast", 'data-toggle' => 'modal' %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Email Blast</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Shortcuts</button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "View Profile", merchant_path(current_user.username) %></li>
            <li><%= link_to "Settings", edit_user_registration_path, 'data-toggle' => 'modal' %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Reports", reports_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Create Donation Plan",  "#create_dplan", 'data-toggle' => 'modal' %></li>
            <li><%= link_to "Create Team Member",  "#create_member", 'data-toggle' => 'modal' %></li>
          </ul>
        </div>
      <% end %>
      <% if current_user.admin? %>
        <div class="btn-group">
          <button type="button" class="btn btn-warning">Pendings</button>
          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "Pending Products", pending_products_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Pending Merchants", merchants_path %></li>
          </ul>
        </div>
      <% end %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>

      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='create_member'>
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h1 class='text-center'> New Team Member</h1>
            </div>
            <%= form_for :member, url: bank_accounts_path, method: :post do |f| %>
              <div class="modal-body">
                <div class="container-fluid">  
                  <div class='col-md-4 col-md-offset-4'>
                    <div class='form-group'>  
                      <h4 class='text-center'>Name Of Member</h4>
                      <%= f.text_field :name, class: 'form-control text-center', required: true, placeholder: 'Jane G Doe' %>
                    </div>
                    <div class='form-group'>  
                      <h4 class='text-center'>Members Role</h4>
                      <%= f.text_field :role, class: 'form-control text-center', required: true, placeholder: 'Head Of Marketing' %>
                    </div>
                    <div class='form-group'>  
                      <h4 class='text-center'>Account Number</h4>
                      <%= f.text_field :acct_num, class: 'form-control text-center', required: true, placeholder: '000123456789' %>
                    </div>
                    <div class='form-group'>  
                      <h4 class='text-center'>Routing Number</h4>
                      <%= f.text_field :rout_num, class: 'form-control text-center', required: true, placeholder: '110000000' %>
                    </div>
                    <div class='form-group'>  
                      <h4 class='text-center'>Country Code</h4>
                      <%= f.text_field :country, class: 'form-control text-center', required: true, placeholder: 'US', maxlength: 2 %>
                    </div>
                    <div class='form-group'>  
                      <h4 class='text-center'>Percent Of Revenue</h4>
                      <%= f.number_field :percent, class: 'form-control text-center', required: true, placeholder: '25', step: 'any' %>
                      <%= f.hidden_field :uuid, class: 'form-control text-center', value: SecureRandom.uuid %>
                    </div>
                  </div>
              </div>
              </div>
              <div class="modal-footer actions">
                <%= link_to "Cancel", '#', class: 'btn btn-danger', 'data-dismiss' => 'modal'%>
                <%= f.submit "Create Member", class: 'btn btn-success' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='create_dplan'>
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h1 class='text-center'> New Donation Plan</h1>
            </div>
            <%= form_for :dplan, url: plans_path, method: :post do |f| %>
              <div class="modal-body">
                <div class="container-fluid">  
                  <div class='col-md-4 col-md-offset-4'>
                    <div class='form-group'>  
                      <h4 class='text-center'>Name Of Plan</h4>
                      <%= f.text_field :name, class: 'form-control text-center', required: true, placeholder: 'Test Plan' %>
                    </div>
                    <div class='form-group'>  
                      <h4 class='text-center'>Monthly Donation Amount</h4>
                      <%= f.number_field :amount, class: 'form-control text-center', required: true, placeholder: '25', step: 'any' %>
                      <%= f.hidden_field :uuid, class: 'form-control text-center', value: SecureRandom.uuid %>
                    </div>
                  </div>
              </div>
              </div>
              <div class="modal-footer actions">
                <%= link_to "Cancel", '#', class: 'btn btn-danger', 'data-dismiss' => 'modal'%>
                <%= f.submit "Create Plan", class: 'btn btn-success' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='text_blast'>
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h1> Text Message Blast (<%= current_user.text_lists.count %>)</h1>
            </div>
            <div class='row'> 
              <%= form_for :text_blast, url: twilio_text_blast_path, method: :put do |f| %>
                <div class="modal-body">
                  <div class="container-fluid">  
                    <div class='col-md-8 col-md-offset-2'>
                      <h4 class='text-center'>Enter You Text Below</h4>
                      <%= f.text_area :message, class: 'form-control', required: true %>
                    </div>
                  </div>
                </div>
                <div class="text-center actions">
                  <%= link_to "Cancel", '#', class: 'btn btn-danger', 'data-dismiss' => 'modal'%>
                  <%= f.submit "Send Text", class: 'btn btn-success' %>
                </div>
              <% end %>
              <%= form_tag notifications_import_numbers_path, multipart: true do %>
                <div class="modal-body">
                  <hr>
                  <div class="container-fluid"> 
                    <div class='col-md-4 col-md-offset-4'>
                      <h4 class='text-center'>Import Phone Numbers</h4>
                      <div class='form-group'>
                        <%= file_field_tag :file, class: 'form-control' %>
                      </div>
                      <div class='form-group'>
                        <%= submit_tag "Import", class: 'btn btn-primary form-control'  %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= link_to "Products", products_path %> |
      <%= link_to "Plans", plans_path %> |
      <%= link_to "Sign In", new_user_session_path %> or 
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</ul>